﻿@import "mixins";
@import "variables";


//// Directives.
.sb-loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-sb-loader;
    text-align: center;
    .spinner {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8) url(../resources/images/spinner.gif) center center no-repeat;
    }
    .error-dialog {
        position: absolute;
        z-index: 100;
        display: block;
        top: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        width: 300px;
        border: 1px solid black; 
        background-color: white;
    }
}

.sb-map-control {
    height: 100%;
    
    .sb-map-loader {
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 10px;
        left: 10px;
        background: rgba(255, 255, 255, 0.8) url(../resources/images/spinner.gif) center center no-repeat;
        border:0 solid;
        border-radius:5px;
    }

}

.sb-map-options-popup {
    .pure-button {
        white-space: normal;
        padding: $menu-padding;
    }
}

.sb-spot-popup {
    display: table;
    width: 100%;

    &>div {
        display: table-row;
    }

    .col1 {
        display: table-cell;

        .summary {
            font-weight: bold;
        }
        .address {
            font-style: italic;
        }
        .notes {

        }

        a {
            cursor: pointer;
        }
    }

    .col2 {
        display: table-cell;
        vertical-align: top;
        text-align: right;

        button {
        }
    }
}