﻿@import "variables";
@import "mixins";

//// Element selectors.
* {   
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow: auto;
    -ms-touch-action: none !important;
    touch-action: none !important;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

input {
    // HACK: Adjusted to button height.
    height: 40px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

h2, h3, h4, h5, h6 {
    font-style: italic;
}

.pure-skin-spotsin .pure-form legend {
    @include font-lobster();
    padding: $menu-padding;
}

label[for] {
    font-style: italic;
}

html, button, input, select, textarea,
.pure-g, .pure-g [class *="pure-u"] {
    font-family: "Muli", sans-serif;
}

//// PureCSS overrides.
.pure-menu.pure-menu-horizontal {
    li {
        cursor: pointer;
    }

    & > .pure-menu-heading {
        font-style: italic;
    }

    & > ul.right {
        float:right;
    }
}

.pure-skin-spotsin .pure-form input.no-bottom-margin {
    margin-bottom: 0;
}

.pure-button {
    background: transparent;
}

.pure-skin-spotsin .pure-button,
.pure-skin-spotsin .pure-button-primary,
.pure-skin-spotsin .pure-button-selected,
.pure-skin-spotsin a.pure-button-primary,
.pure-skin-spotsin a.pure-button-selected {
    background-color: transparent;
    color: $red;
    border: 1px solid $red;
}

.pure-skin-spotsin .pure-form button {
    margin-bottom: 1px;
}