﻿
@mixin transition($args...) {
    -moz-transition: $args;
    -o-transition: $args;
    -webkit-transition: $args;
    transition: $args;
}

@mixin transform($args...) {
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    -webkit-transform: $args;
    transform: $args;
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin ngShowTransitionFrom() {
    &.ng-hide-add, &.ng-hide-remove {
        @include transition(all 0.5s ease-in-out);
    }

    // The start of the hiding animation (from)...
    &.ng-hide-add {
        @content;
    }
    
    // equals the end of the showing animation.
    &.ng-hide-remove.ng-hide-remove-active {
        @content;
    }
}

@mixin ngShowTransitionTo() {
    // The end of the hiding animation (to)...
    &.ng-hide-add.ng-hide-add-active {
        @content;
    }
    
    // equals the start of the showing animation.
    &.ng-hide-remove {
        @content;
    }
}

@mixin font-lobster() {
    font-family: 'Lobster', sans-serif;
}