﻿$gray:              #EDEDED;
$background:        #FFFDF1;
$green:             #0B8C8E;
$purple:            #593574;
$beige:             #FFE5B4;
$red:               #801638;
$background:        lighten($beige, 14%);

$button-height: 40px;
$sidebar-width: 200px;
$menu-button-size: 50px;
$menu-padding: 5px;
$menu-height: $menu-button-size + $menu-padding;
$border-radius: 10px;
$menu-top-offset: 5px;

$z-main-dialogs: 1000;
$z-sb-loader: 1001;