@font-face {
	font-family: 'icomoon';
	src:url('../resources/fonts/icomoon.eot?k6d4y6');
	src:url('../resources/fonts/icomoon.eot?#iefixk6d4y6') format('embedded-opentype'),
		url('../resources/fonts/icomoon.woff?k6d4y6') format('woff'),
		url('../resources/fonts/icomoon.ttf?k6d4y6') format('truetype'),
		url('../resources/fonts/icomoon.svg?k6d4y6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-pencil:before {
	content: "\e600";
}
.icomoon-spinner:before {
	content: "\e603";
}
.icomoon-search:before {
	content: "\e602";
}
.icomoon-remove:before {
	content: "\e601";
}
.icomoon-target:before {
	content: "\e604";
}