@import "mixins";
@import "variables";

@import "elements";
@import "leaflet";
@import "directives";

// General selectors.
.sb-form-container {
    padding-left: 10px;
    padding-right: 10px;
}

.sb-pull-right {
    float: right;
}

.sb-buttons-top-offset {
    margin-top: 20px;
}

.sb-tabs {
    padding-left: 0;

    $tabs-base-color: $gray;
    width: 100%;
    float: none;
    list-style: none;
    position: relative;
    text-align: left;

    li {
        float: left;
        display: block;
    }

    input[type="radio"] {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    li > label {
        display: block;
        padding: 10px 15px;
        background: $tabs-base-color;
        cursor: pointer;
        position: relative;
        //top: 4px;
        @include transition(all 0.2s ease-in-out);

        &:hover {
            background: $red;
            color: $gray;
        }
    }

    .tab-content {
        z-index: 2;
        display: none;
        overflow: hidden;
        width: 100%;
        padding: 10px;
        position: absolute;
        left: 0;
        border-top: 1px solid $red;
        //background: darken($tabs-base-color, 15);
    }
    //The Magic
    [id^="tab"]:checked + label {
        top: 0;
        background: $red;
        color: $gray;
    }

    [id^="tab"]:checked ~ [id^="tab-content"] {
        display: block;
    }
}

.sb-table-centered {
    margin-left:auto; 
    margin-right:auto;
}

.sb-top-offset {
    margin-top: 10px;
}

.pure-button.sb-btn-remove {
    font-size: 14px;
    padding: 4px 14px;

    $btncolor: lighten($red, 5);
    background: $btncolor;
    color: $gray;
}

// View-specific selectors.

.sb-root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sb-start {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background;
    overflow-y: auto;

    .sb-start-children {
        @include transform(translateY(10%));

        h1 {
            margin: 10px 0;
            @include font-lobster();
        }

        #logo-parent {
            text-align: center;
            #logo {
                display: inline-block;
                width: 200px;
                height: 200px;
                background: url(../resources/images/logo_cut.svg) center center no-repeat;
                background-size: contain;
            }
        }
    }
}

.sb-main {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    #sb-main-menu {
        $menu-bg: $background;
        $padding: $menu-padding;
        cursor: pointer;
        position: fixed;
        top: $menu-top-offset;
        right: 0;

        @include transition(all 0.5s ease-in-out);

        &.menu-open {
            @include transform(translateX(-$sidebar-width));
        }

        #sb-menu-button {
            display: inline-block;
            position: relative;
            width: $menu-button-size + $padding;
            height: $menu-button-size + $padding;
            vertical-align: middle;
            border: $padding solid $menu-bg;
            // Why is this padding needed?
            margin-left: -5px;

            .icon {
                position: absolute;
                width: 100%;
                height: 100%;
                background: url(../resources/images/logo_cut.svg) center center no-repeat;
                background-size: contain;
                vertical-align: middle;
            }

            .bg {
                position: absolute;
                width: 100%;
                height: 100%;
                vertical-align: middle;

                svg {
                    width: 100%;
                    height: 100%;
                    fill: $menu-bg;
                }
            }
        }

        #sb-spotbook-name {
            @include font-lobster();
            display: inline-block;
            color: $red;
            font-size: 2rem;
            background: $menu-bg;
            vertical-align: middle;
            height: $menu-button-size + $padding;
            line-height: $menu-button-size + $padding;
            border-radius: $border-radius 0 0 $border-radius;
            padding: 0 $padding 0 $padding;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .sb-sidebar {
        position: fixed;
        top: $menu-top-offset;
        right: 0;
        width: $sidebar-width !important;
        text-align: right;

        @include ngShowTransitionFrom {
            @include transform(translateX(0));
        }

        @include ngShowTransitionTo {
            @include transform(translateX($sidebar-width));
        }

        .new-button {
            width: 100%;
        }

        h2 {
            @include font-lobster();
            margin: 5px 0;
            font-style: normal;
            color: $red;
            padding-right: $menu-padding;
        }

        h3 {
            @include font-lobster();
            margin: 5px 10px;
            font-style: normal;
            color: $red;
        }

        .sb-sidebar-header {
            background: $background;
            height: $menu-height;
            cursor: pointer;

            h2 {
                margin-top: 0;
                line-height: $menu-height;
                vertical-align: middle;
            }
        }

        .actions-containers {
            margin-top: $menu-padding;
            background: $background;
            border-radius: 0 0 0 $border-radius;
            padding: $menu-padding;

            .actions-container-spots {
                margin-bottom: $menu-padding;
            }

            .actions-container-spotbooks {

                .new-button {
                    margin-bottom: 5px;
                }

                .spotbooklist {

                    ul {
                        height: 300px;
                        overflow-y: auto;
                        padding: 0 0 0 10px;
                        margin: 0;
                        text-align: left;

                        li {
                            position: relative;
                            cursor: pointer;
                            list-style: none;
                            width: 100%;
                            height: $button-height;
                            line-height: $button-height;
                            display: inline-block;
                            vertical-align: middle;
                            padding-left: 5px;
                            color: $red;
                            border: 0 solid $red;

                            &.entry-selected {
                                border-width: 1px;
                            }

                            .sb-edit-spotbook-button {
                                position: absolute;
                                top: 5px;
                                right: 5px;
                                bottom: 5px;
                                float: right;
                                font-size: 12px;
                                padding: 2px 8px;

                                $btncolor: lighten($red, 5);
                                background: $gray;
                                color: $btncolor;

                                &:hover {
                                    background: $btncolor;
                                    color: $gray;
                                }
                            }
                        }
                    }
                    // Hide the "edit"-button when not selected.
                    li:not(.entry-selected) .sb-edit-spotbook-button {
                        display: none;
                    }
                }
            }
        }
    }

    .sb-map {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .sb-main-dialogview {
        position: fixed;
        z-index: $z-main-dialogs;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $background;
        overflow-y: auto;

        .sb-main-addspot {
            .sb-btn-geolocate-container {
                text-align: left;

                .sb-btn-geolocate {
                    padding-left: 15px;
                    padding-right: 15px;
                    font-size: 16.4px;
                }
            }
        }
    }
}