@font-face {
  font-family: 'maki';
  src: url('../resources/fonts/maki.eot?86444919');
  src: url('../resources/fonts/maki.eot?86444919#iefix') format('embedded-opentype'),
       url('../resources/fonts/maki.woff?86444919') format('woff'),
       url('../resources/fonts/maki.ttf?86444919') format('truetype'),
       url('../resources/fonts/maki.svg?86444919#maki') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'maki';
    src: url('../font/maki.svg?86444919#maki') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "maki";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-triangle:before { content: '\e800'; } /* '' */
.icon-triangle-stroked:before { content: '\e801'; } /* '' */
.icon-village:before { content: '\e802'; } /* '' */
.icon-warehouse:before { content: '\e803'; } /* '' */
.icon-waste-basket:before { content: '\e804'; } /* '' */
.icon-water:before { content: '\e805'; } /* '' */
.icon-wetland:before { content: '\e806'; } /* '' */
.icon-zoo:before { content: '\e807'; } /* '' */
.icon-airfield:before { content: '\e808'; } /* '' */
.icon-airport:before { content: '\e809'; } /* '' */
.icon-alcohol-shop:before { content: '\e80a'; } /* '' */
.icon-art-gallery:before { content: '\e80b'; } /* '' */
.icon-bakery:before { content: '\e80c'; } /* '' */
.icon-bank:before { content: '\e80d'; } /* '' */
.icon-bar:before { content: '\e80e'; } /* '' */
.icon-beer:before { content: '\e80f'; } /* '' */
.icon-bicycle:before { content: '\e810'; } /* '' */
.icon-building:before { content: '\e811'; } /* '' */
.icon-bus:before { content: '\e812'; } /* '' */
.icon-cafe:before { content: '\e813'; } /* '' */
.icon-camera:before { content: '\e814'; } /* '' */
.icon-campsite:before { content: '\e815'; } /* '' */
.icon-car:before { content: '\e816'; } /* '' */
.icon-cemetery:before { content: '\e817'; } /* '' */
.icon-cinema:before { content: '\e818'; } /* '' */
.icon-circle:before { content: '\e819'; } /* '' */
.icon-circle-stroked:before { content: '\e81a'; } /* '' */
.icon-city:before { content: '\e81b'; } /* '' */
.icon-clothing-store:before { content: '\e81c'; } /* '' */
.icon-college:before { content: '\e81d'; } /* '' */
.icon-commercial:before { content: '\e81e'; } /* '' */
.icon-cross:before { content: '\e81f'; } /* '' */
.icon-dam:before { content: '\e820'; } /* '' */
.icon-danger:before { content: '\e821'; } /* '' */
.icon-disability:before { content: '\e822'; } /* '' */
.icon-dog-park:before { content: '\e823'; } /* '' */
.icon-embassy:before { content: '\e824'; } /* '' */
.icon-emergency-telephone:before { content: '\e825'; } /* '' */
.icon-entrance:before { content: '\e826'; } /* '' */
.icon-farm:before { content: '\e827'; } /* '' */
.icon-fast-food:before { content: '\e828'; } /* '' */
.icon-ferry:before { content: '\e829'; } /* '' */
.icon-fire-station:before { content: '\e82a'; } /* '' */
.icon-fuel:before { content: '\e82b'; } /* '' */
.icon-garden:before { content: '\e82c'; } /* '' */
.icon-golf:before { content: '\e82d'; } /* '' */
.icon-grocery:before { content: '\e82e'; } /* '' */
.icon-hairdresser:before { content: '\e82f'; } /* '' */
.icon-harbor:before { content: '\e830'; } /* '' */
.icon-heart:before { content: '\e831'; } /* '' */
.icon-heliport:before { content: '\e832'; } /* '' */
.icon-hospital:before { content: '\e833'; } /* '' */
.icon-industrial:before { content: '\e834'; } /* '' */
.icon-land-use:before { content: '\e835'; } /* '' */
.icon-laundry:before { content: '\e836'; } /* '' */
.icon-library:before { content: '\e837'; } /* '' */
.icon-lighthouse:before { content: '\e838'; } /* '' */
.icon-lodging:before { content: '\e839'; } /* '' */
.icon-logging:before { content: '\e83a'; } /* '' */
.icon-london-underground:before { content: '\e83b'; } /* '' */
.icon-marker:before { content: '\e83c'; } /* '' */
.icon-marker-stroked:before { content: '\e83d'; } /* '' */
.icon-minefield:before { content: '\e83e'; } /* '' */
.icon-mobilephone:before { content: '\e83f'; } /* '' */
.icon-monument:before { content: '\e840'; } /* '' */
.icon-museum:before { content: '\e841'; } /* '' */
.icon-music:before { content: '\e842'; } /* '' */
.icon-oil-well:before { content: '\e843'; } /* '' */
.icon-park:before { content: '\e844'; } /* '' */
.icon-park2:before { content: '\e845'; } /* '' */
.icon-parking:before { content: '\e846'; } /* '' */
.icon-parking-garage:before { content: '\e847'; } /* '' */
.icon-pharmacy:before { content: '\e848'; } /* '' */
.icon-pitch:before { content: '\e849'; } /* '' */
.icon-place-of-worship:before { content: '\e84a'; } /* '' */
.icon-playground:before { content: '\e84b'; } /* '' */
.icon-police:before { content: '\e84c'; } /* '' */
.icon-polling-place:before { content: '\e84d'; } /* '' */
.icon-post:before { content: '\e84e'; } /* '' */
.icon-prison:before { content: '\e84f'; } /* '' */
.icon-rail:before { content: '\e850'; } /* '' */
.icon-rail-above:before { content: '\e851'; } /* '' */
.icon-rail-light:before { content: '\e852'; } /* '' */
.icon-rail-metro:before { content: '\e853'; } /* '' */
.icon-rail-underground:before { content: '\e854'; } /* '' */
.icon-religious-christian:before { content: '\e855'; } /* '' */
.icon-religious-jewish:before { content: '\e856'; } /* '' */
.icon-religious-muslim:before { content: '\e857'; } /* '' */
.icon-restaurant:before { content: '\e858'; } /* '' */
.icon-roadblock:before { content: '\e859'; } /* '' */
.icon-rocket:before { content: '\e85a'; } /* '' */
.icon-school:before { content: '\e85b'; } /* '' */
.icon-scooter:before { content: '\e85c'; } /* '' */
.icon-shop:before { content: '\e85d'; } /* '' */
.icon-skiing:before { content: '\e85e'; } /* '' */
.icon-slaughterhouse:before { content: '\e85f'; } /* '' */
.icon-soccer:before { content: '\e860'; } /* '' */
.icon-square:before { content: '\e861'; } /* '' */
.icon-square-stroked:before { content: '\e862'; } /* '' */
.icon-star:before { content: '\e863'; } /* '' */
.icon-star-stroked:before { content: '\e864'; } /* '' */
.icon-suitcase:before { content: '\e865'; } /* '' */
.icon-swimming:before { content: '\e866'; } /* '' */
.icon-telephone:before { content: '\e867'; } /* '' */
.icon-tennis:before { content: '\e868'; } /* '' */
.icon-theatre:before { content: '\e869'; } /* '' */
.icon-toilets:before { content: '\e86a'; } /* '' */
.icon-town:before { content: '\e86b'; } /* '' */
.icon-town-hall:before { content: '\e86c'; } /* '' */