﻿<div class="sb-loader" ng-show="show()">
    <div class="spinner"></div>
    <div class="error-dialog" ng-show="hasError()">
        <span>Fehler:</span><br />
        <span ng-bind="getError()"></span><br />
        <button ng-click="closeError()">Ok</button>
    </div>
</div>
