﻿<div class="sb-spot-popup">
    <div>
        <div class="col1">
            <span class="summary" ng-bind="spot.summary"></span><br />
            <span class="address" ng-bind="spot.address"></span><br />
            <span class="notes" ng-bind="spot.notes"></span><br />
            <a ng-click='toggleOptions()' ng-show="!optionsVisible">Optionen</a>
        </div>
        <div class="col2">
            <button class="pure-button pure-button-primary" ng-click='remove()'>Löschen</button>
        </div>
    </div>
</div>