﻿<div class="pure-g">
    <div class="pure-u-1-4">
    </div>
    <div class="pure-u-1-2">
        <form class="pure-form">
            <fieldset class="pure-group">
                <legend>Registrieren</legend>
                    <input class="pure-input-1" type="text" ng-model="input.username" id="input-username" placeholder="Benutzername">
                    <input class="pure-input-1" type="password" ng-model="input.password" id="input-password" placeholder="Passwort">
                </fieldset>
            <button ng-click="register()" ng-disabled="!isInputValid()"
                    class="pure-button pure-input-1 pure-button-primary">
                Registrieren
            </button>
            <button ng-click="cancel()"
                    class="pure-button pure-input-1">
                Abbrechen
            </button>
        </form>
    </div>
</div>