﻿<div>
    <form class="pure-form" role="form">
        <fieldset>
            <legend>SpotBook hinzufügen</legend>
            <div class="sb-form-container">
                <div class="pure-g">
                    <div class="pure-u-1-12"></div>
                    <input type="text" class="pure-u-5-6" ng-model="input.name" placeholder="Name">
                </div>
                <div class="pure-control-group sb-buttons-top-offset">
                    <button ng-click="create()" ng-disabled="!isInputValid()"
                            class="pure-button pure-input-1 pure-button-primary">
                        Hinzufügen
                    </button>
                    <button ng-click="cancel()" class="pure-button pure-input-1">Abbrechen</button>
                </div>
            </div>
        </fieldset>
    </form>

    <!--<h2>SpotBook hinzufügen</h2>
    <ul class="sb-tabs">
        <li>
            <input type="radio" name="tabs" id="tabSearch" checked />
            <label for="tabSearch">Suchen</label>
            <div id="tab-content1" class="tab-content pure-g">
                <form class="pure-form" role="form">
                    <fieldset>
                        <div class="sb-form-container">
                            <div class="pure-g">
                                <div class="pure-u-1-12"></div>
                                <input type="text" class="pure-u-5-6" ng-model="searchText" placeholder="Name oder Ersteller">
                            </div>

                            <div class="pure-g">
                                <div class="pure-u-1-12"></div>
                                <button class="pure-button pure-button-primary pure-u-5-6" ng-click="search()">Suchen</button>
                            </div>

                            <div class="pure-g">
                                <ol>
                                    <li ng-repeat="result in searchResults"></li>
                                </ol>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </li>

        <li>
            <input type="radio" name="tabs" id="tabNew" />
            <label for="tabNew">Neu</label>
            <div id="tab-content2" class="tab-content pure-g">
                <div class="pure-u-1">

                </div>
            </div>
        </li>
    </ul>-->
</div>