<div class="pure-g sb-main-addspot">
    <div class="pure-u-1">
        <form class="pure-form" role="form">
            <fieldset>
                <legend>Neuen Spot eingeben</legend>
                <div class="sb-form-container">
                    <div class="pure-g">
                        <label class="pure-u-1-3" for="input-summary">Titel</label>
                        <input type="text" class="pure-u-2-3" ng-model="input.summary" id="input-summary" placeholder="Titel">
                    </div>
                    <div class="pure-g">
                        <label class="pure-u-1-3" for="input-street">Adresse</label>
                        <input type="text" class="pure-u-2-3" ng-model="input.street" id="input-street" placeholder="Straße und Hausnummer">
                    </div>
                    <div class="pure-g">
                        <label class="pure-u-1-3" for="input-postalCode">PLZ</label>
                        <input type="text" class="pure-u-2-3" ng-model="input.postalCode" id="input-postalCode" placeholder="PLZ">
                    </div>
                    <div class="pure-g">
                        <label class="pure-u-1-3" for="input-city">Stadt</label>
                        <input type="text" class="pure-u-2-3" ng-model="input.city" id="input-city" placeholder="Stadt">
                    </div>
                    <div class="pure-g">
                        <label class="pure-u-1-3" for="input-location">Geoposition</label>
                        <div class="pure-u-2-3">
                            <div class="pure-g">
                                <input type="text" class="pure-u-2-3" ng-model="input.location" id="input-location" placeholder="Geoposition">
                                <div class="pure-u-1-3 sb-btn-geolocate-container">
                                    <button class="pure-button sb-btn-geolocate" ng-click="geolocate()" 
                                            ng-disabled="!input.street || !input.city">
                                        <i class="icomoon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pure-g">
                        <label class="pure-u-1-3" for="input-notes">Notizen</label>
                        <textarea rows="4" class="pure-u-2-3" ng-model="input.notes" id="input-notes" placeholder="Notizen"></textarea>
                    </div>
                    <div class="pure-g">
                        <label class="pure-u-1-3" for="input-type">Typ</label>
                        <span class="pure-u-2-3">
                            <select ng-options="type.text for (key, type) in availableTypes"
                                    ng-model="input.type" id="input-type" placeholder="Notizen"></select>
                            <i ng-class="'icon-' + input.type.icon"></i>
                        </span>
                    </div>
                    <div class="pure-control-group sb-buttons-top-offset">
                        <button ng-click="create()" ng-disabled="!isInputValid()"
                                class="pure-button pure-input-1 pure-button-primary">
                            Speichern
                        </button>
                        <button ng-click="cancel()" class="pure-button pure-input-1">Abbrechen</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
