﻿<div>
    <form class="pure-form" role="form">
        <fieldset>
            <legend>SpotBook "{{edited.name}}" bearbeiten</legend>
            <div class="sb-form-container">
                <div class="pure-g">
                    <div class="pure-u-1">
                        <span>Dieses SpotBook gehört: "{{edited.creator.username}}"</span>
                    </div>
                    <button ng-click="deleteSpotBook()"
                            class="pure-button pure-u-2-3 pure-button-primary">
                        SpotBook Löschen
                    </button>
                </div>
                <table class="pure-table pure-table-horizontal pure-table-striped sb-table-centered sb-top-offset">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Rechte</th>
                            <th>Aktion</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="r in edited.rights">
                            <td ng-bind="r.user.username"></td>
                            <td ng-bind="r.right | sbAccessRightDisplay"></td>
                            <td>
                                <button ng-click="removeRight(r)" ng-show="canRemoveRight(r)"
                                        class="sb-btn-remove pure-button">
                                    <i class="icomoon-remove"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="pure-u-1 sb-top-offset">
                    <span>Du kannst hier Rechte an andere Benutzer vergeben:</span>
                </div>
                <div class="pure-g">
                    <input type="text" class="pure-u-1-3 no-bottom-margin" ng-model="input.addright.username" placeholder="Benutzername">
                    <select class="pure-u-1-3" ng-model="input.addright.right">
                        <option value="1">Ansehen</option>
                        <option value="3">Ansehen und Spots erstellen</option>
                    </select>
                    <button ng-click="addRight()" ng-disabled="!isAddRightInputValid()"
                            class="pure-button pure-u-1-3 pure-button-primary">
                        Hinzufügen
                    </button>
                </div>

                <div class="pure-control-group sb-buttons-top-offset">
                    <button ng-click="close()" class="pure-button pure-input-1">Schließen</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>