﻿<div class="sb-main">

    <!-- The map always stays in the background (set to hidden if not shown) so that it is not initialized with each view. -->
    <div ng-include="'views/main.map.html'" ng-controller="MainMapCtrl"></div>

    <div id="sb-main-menu" ng-click="toggleSidebar()" ng-class="{ 'menu-open': isSidebarVisible }">
        <!-- The max width is the size of the window minus space for buttons on the left
             and space for the main menu button on the right. We need the max-width for
             ellipsis text trimming. -->
        <span id="sb-spotbook-name"
              sb-calculate-property="(window.innerWidth - 50 - 50) + 'px'"
              target-property="max-width"
              ng-bind="getSelectedSpotBook().name">
        </span>
        <div id="sb-menu-button">
            <div class="bg">
                <svg viewBox="0 0 500 500">
                    <path d="M 0 0 L 0 500 L 500 500 L 500 0 L 0 0 z M 251.4375 7.1875 C 385.5378 7.1875 494.25 115.8997 494.25 250 C 494.25 384.1003 385.5378 492.8125 251.4375 492.8125 C 117.3372 492.8125 8.625 384.1003 8.625 250 C 8.625 115.8997 117.3372 7.1875 251.4375 7.1875 z " />
                </svg>
            </div>
            <div class="icon"></div>
        </div>
    </div>

    <div class="sb-sidebar" ng-show="isSidebarVisible">

        <div class="sb-sidebar-header" ng-click="toggleSidebar()">
            <h2>SpotsIn.Berlin</h2>
        </div>

        <div class="actions-containers">
            <div class="actions-container-spots">
                <!--<h2>Spots</h2>-->
                <button ui-sref="main.addspot" class="pure-button pure-button-primary new-button">
                    Neuer Spot <i class="icon-marker"></i>
                </button>
            </div>

            <div class="actions-container-spotbooks">
                <!--<h2>SpotBooks</h2>-->
                <button ui-sref="main.addspotbook" class="pure-button pure-button-primary new-button">
                    Neues SpotBook <i class="icon-library"></i>
                </button>

                <h3>Deine SpotBooks</h3>
                <div class="spotbooklist">
                    <ul>
                        <li ng-repeat="sb in spotBooks" ng-class="{ 'entry-selected': getSelectedSpotBook() === sb }"
                            ng-click="selectSpotBook(sb)">
                            <div>
                                <span ng-bind="sb.name"></span>
                                <button title="Bearbeiten" class="sb-edit-spotbook-button pure-button"
                                        ng-click="editSpotBook(sb);" ng-show="canEditSpotBook(sb);">
                                    <i class="icomoon-pencil"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="sb-main-dialogview" sb-require-states="[ 'main.addspot', 'main.addspotbook', 'main.editspotbook' ]">
        <div ui-view="dialogview"></div>
    </div>

</div>