﻿<div class="sb-start">
    <div class="sb-start-children">
        <div id="logo-parent">
            <div id="logo"></div>
        </div>
        <h1>SpotsIn.Berlin Login</h1>
        <div class="pure-g">
            <div class="pure-u-1-4">
            </div>
            <div class="pure-u-1-2">
                <form class="pure-form">
                    <fieldset class="pure-group">
                        <input class="pure-input-1" type="text" ng-model="input.username" id="input-username" placeholder="Benutzername">
                        <input class="pure-input-1" type="password" ng-model="input.password" id="input-password" placeholder="Passwort">
                    </fieldset>
                    <button ng-click="login()" ng-disabled="!isInputValid()"
                            class="pure-button pure-input-1 pure-button-primary">
                        Login
                    </button>
                    <button ng-click="register()"
                            class="pure-button pure-input-1">
                        Registrieren
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>